
body {
    background-image: url(img/fondotwitch.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    position: relative;
    
}

.LogoPrime img{
    width: 1800px;          
    margin: 150px auto 0;
}
.LogoPrime {
   display: flex;
  justify-content: center;
  align-items: center;
}
.lupa img{
    width: 100px; 
    height: auto;
    margin: 70px;
    margin-left: 150px;
    cursor: pointer; 
}
.box-login {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;  
    color: black;              
    padding: 12px 20px;        
    border: none;             
    border-radius: 50px;      
    font-size: 70px;        
    cursor: pointer; 
    margin: 90px;
    
}
.head{
    font-size: 200px;  
    margin-bottom: auto;
    text-align: center;
    margin-top: -200px;
    color: white;
    
}
.texto1{
    
    font-size: 100px;  
    margin-bottom: auto;
    text-align: center;
    margin-top: 100px;
    color:lavender
}
.box-sing{
    
    background-color: white;  
    color: black;              
    padding: 12px 20px;        
    border: none;             
    border-radius: 50px;      
    font-size: 90px;   
    cursor: pointer; 
    display: block;
    margin: 300px auto;
    text-align: center;
  
}
.box-live{
    width: 5000px;
    display: block;
    margin: 600px auto;
    text-align: center;
    padding:  120px 20px; 
    background-color: #06aae0;
    border-radius: 200px;
    margin-bottom: auto;
}
.head-live{

    color: white; 
    margin-top: 50px;
    font-size: 200px;  

}
.televisor{

    margin: 50px auto;
    width: 700px;
    
    
}
.texto2{
    color:lavender;
     margin: 50px;
    font-size: 100px;  

}
.box-movies{
    display: block;
    padding:  120px 20px; 
    width: 5000px;
    background-color: #06aae0;
    margin: 100px auto;
    text-align: center;
    border-radius: 200px;


}
.texto3{
    font-size: 200px;
    color: white;


}
.box-movies img{
    width: 500px;

}


