
body{
    background-color: white;
    
}
.box-1 {
    background-color: black;
    
    
    border-radius: 1vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr 2fr;
    
}
.box-1 img{
    border-radius: 1vw;
    margin: 10vw 10vw;
}
.elemento1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.elemento1 img {
    
    width: 30vw;
}
.elemento2{
    grid-column: 1/2;
    grid-row: 2/3;
}
.elemento2 img{
    
    width: 30vw;
    
}
.elemento3{
    grid-column: 2/3;
    grid-row: -4/-2;
}
.elemento3 img{
   
    width: 20vw;

}
.elemento4 img{
   
    width: 75vw;
    height: 50vw;
    

}
.elemento4{
    grid-column: -3/-1;
    grid-row: 4/3;
    
}
.elemento1 ,.elemento2,.elemento3,.elemento4{
    
    
    display: flex;
    justify-content: center;
}
.box-2{
    background-color: black;
    margin: 10vw 5vw;
   
    border-radius: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.elemento5 img{
   
    width: 30vw;
}
.elemento6 img{
   
    width: 30vw;
}
.elemento7 img{
   
    width: 20vw;
}
.elemento5{
    grid-column: 1/2;
    grid-row: 1/2;
}
.elemento6{
    grid-column: -3/-2;
    grid-row: 2/3;
}
.elemento7{
    grid-column: 2/3;
    grid-row: -3/-1;
}
.elemento5 ,.elemento6,.elemento7{
    
    margin: 10vw 10vw;
    display: flex;
    justify-content: center;
}
.elemento5 img ,.elemento6 img,.elemento7 img{
    
   border-radius: 1vw;
}