
body {
    background-color: black;
}
@font-face {
    font-family: letra1;
    src: url(../font/DMSerifText-Italic.ttf );
}
.encabezado{
    display: flex;
    color: white;
    position: relative;
    text-align: center;
    padding: 20px 30px;
    gap: 20px;
    position: relative;
    margin-left: 800px;
    margin-top: -85px;
    cursor: pointer;
}

.start{
    color: white;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 26px;
    font-family: titulo;
}
.start img{
    width: 300px;

}
#logo{
    color: white;
    margin-left: 300px;
    
}
.shop{
    background-color:rgb(248, 193, 111);
    border: none;
    font-size: 16px;
    padding: 5px 30px;

}
.second-section{
    color: white;
    
    
}
.second-section img{
    width: 500px;
    margin-top: 200px;
}
.titulo {
    margin-top: -60px;
    font-size:60px;
    margin-left: 800px;
    
}
.linea{
    margin-left: 670px;
    margin-top: -290px ;


}
.texto1{
    margin-top: 0px;
    font-size: 15px;
    margin-left: 800px;
}
.boton1{
    margin-left: 800px;
    background-color:rgb(248, 193, 111) ;
    border: none;
    padding: 5px 30px;
}
.third-page{
    
    color: white;
    margin-top: 300px;
    margin-left: 100px;
    font-size: 20px;
    
}
.third-page img{
    width: 350px;
    margin-left: 600px;
    margin-top: -270px;
}
.third-page p{
    color:gainsboro;
}
.third-page button{
    position: relative;
    border: none;
    background-color: rgb(248, 193, 111);
    top: -60px;
    padding: 7px 20px;
}
.fourth-page{
    font-size: 40px;
    color: white;
    margin-top: 170px;
    margin-left: 100px;
    
}
.content-fourth{
    display: flex;
    text-align: center;
    color: white;
    margin-top: 90px;
    justify-content: space-around;
   
}
.content-fourth img {
    width: 100px;
}


.content-fourth fieldset{
    border-color: rgb(248, 193, 111);
    width: 200px;
    height: 400px;
}
.cubo1,.cubo3,.cubo2{
    text-align: left;
    margin-left: 65px;
}
.content-fourth button{
    background-color:  rgb(248, 193, 111);
    margin-top: 40px;
}
