
body {
    background-color: black;
}
@font-face {
    font-family: letra1;
    src: url(../font/DMSerifText-Italic.ttf );
}
.encabezado{
    display: flex;
    color: white;
    position: relative;
    text-align: center;
    padding: 20px 30px;
    gap: 20px;
    position: relative;
    margin-left: 800px;
    margin-top: -85px;
    cursor: pointer;
}

.start{
    color: white;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 26px;
    font-family: titulo;
}
.start img{
    width: 300px;

}
#logo{
    color: white;
    margin-left: 300px;
    
}
.shop{
    background-color:rgb(248, 193, 111);
    border: none;
    font-size: 16px;
}